nav { background-color: #e96093;
    margin-bottom: 10px;
    border-radius: 2px ;
    text-align: left;
    color: #ffffff;
    padding: 4px;
        
} 

body {
    background-color: #e11364;
    color: #ffffff;
    padding: 50PX; 
    font-family: sans-serif;
    }

header {
    background-color: #bc105c;
    text-align: center;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    padding: 1px;
    margin-bottom: 10px;
    
}

.masvendidos  {
background-color: #bc105c;
padding: 15px;
border-radius: 1%;

}


.juego {
    background-color: white;
    color: black;
    border-radius: 1%;
    padding : 15px; 
    text-align: center;
    margin: 10px;

       
}

h3 {
    color: #bc105c;
    border-bottom: 2px dotted #bc105c ;
    text-align: right;
    padding-top: 10px;
    width: 100%;
    

}



figcaption {
   
    text-align: justify;
    padding-bottom: 5px;

}

img { 
  width: 100%;
 
   
}

footer { 
    background-color: #e96093;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px ;
    text-align: center;


}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}
